@import '~src/variables';

.search-link {
  @extend %whiteModalBasics;
  @extend %whiteModalHeader;
  height: 100%;

  @include whiteModalAnimations(left);

  form {
    @include form();
    @include customInlineInputWithButton();
    margin-top: 1rem;
  }
}
