@import '~src/_variables';

.date-city {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  p {
    font-size: 1.1rem;
    margin: 0;
  }
}

aside {
  position: relative;
  top: -63px;
  display: flex;
  justify-content: flex-end;

  span {
    font-size: 0.8rem;
    transform: translateX(50px);
    opacity: 0;
    transition: all 0.2s ease;
  }

  i {
    cursor: pointer;
    &:hover {
      color: $orange;
    }
  }

  &:hover {
    span {
      transform: translateX(-7px);
      opacity: 1;
    }
  }
}
