@import '~src/_variables';

header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 1rem;
  p {
    margin-bottom: 0.5rem;
  }
  i {
    cursor: pointer;
    position: relative;
    top: 4px;
    &:hover {
      color: $orange;
    }
  }
}

.flip-card {
  width: 100%;
  height: 63px;
  perspective: 1000px;
  margin-bottom: 1rem;
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;

    .flip-card-front,
    .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      @extend %lightBackgroundWhiteBorder;
      border-color: $blue2;
      border-width: 2px;
      color: $blue2;
      font-weight: bold;
      font-size: 1.2rem;
      .card-text-wrapper {
        width: 100%;
        height: 100%;
        padding: 0.4rem;
        display: table;
        .card-text {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
    .flip-card-back {
      transform: rotateX(180deg);
    }
  }
  &:hover .flip-card-inner {
    transform: rotateX(180deg);
  }
}
