<div class="note-wrapper">
  <div class="note" [class.archived]="note.archived">
    <p class="note-text" *ngIf="note.text.length > 1">{{ note.text }}</p>
    <ul *ngIf="note.links" class="note-links">
      <li *ngFor="let link of note.links">
        <a href="{{ link.url }}" target="_blank">
          <i class="fas fa-link"></i>
          {{ link.name }}
        </a>
      </li>
    </ul>
    <footer>
      <span class="note-added">{{ note.added | date: 'yyyy.M.d H:mm' }}</span>
      <span class="note-buttons">
        <i class="fas fa-edit" *ngIf="isLoggedIn" (click)="editNote()"></i>
        <i class="fas fa-archive" *ngIf="isLoggedIn" (click)="archiveNote()"></i>
        <i class="fas fa-trash-alt" *ngIf="isLoggedIn" (click)="onDeleteClicked()"></i>
      </span>
    </footer>
    <section class="delete-confirm-wrapper" *ngIf="isConfirmingDeletion">
      <div class="confirm-delete" (click)="onConfirmDelete()">
        <i class="fas fa-trash-alt"></i>
      </div>
      <div class="cancel-delete" (click)="onCancelDelete()">
        <i class="fas fa-times"></i>
      </div>
    </section>
  </div>
</div>
