<div class="app-notes">
  <header>Notes</header>
  <div class="notes-wrapper">
    <app-note *ngFor="let note of notes" [note]="note" (noteToEdit)="onEditNote($event)"></app-note>
    <div class="placeholder"></div>
  </div>
  <footer *ngIf="isLoggedIn">
    <app-floating-circle-button
      [message]="'Add new note'"
      [side]="'to-right'"
      [icon]="'plus'"
      (click)="onAddNote()"
    ></app-floating-circle-button>
  </footer>
  <app-add-note
    (canceling)="onCancel()"
    [noteToUpdate]="noteToEdit"
    *ngIf="addingNote && isLoggedIn"
  ></app-add-note>
</div>
