@import '~src/variables';

.app-notes {
  position: fixed;
  top: 40px;
  left: 0;
  z-index: 90;
  height: calc(100vh - 40px);
  width: 300px;
  background-color: $blue3;
  border-right: 1px solid white;
  box-shadow: 3px 0px 2px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  header {
    @extend %tabTitle;
    margin-bottom: 2rem;
  }
  .notes-wrapper {
    max-height: 80vh;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    &:after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 100%;
      height: 10vh;
      background: linear-gradient(to top, $blue3 0%, $blue3 30%, transparent 100%);
    }
    .placeholder {
      width: 100%;
      height: 40px;
      background-color: transparent;
    }
  }
  footer {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
  }
}
