@import "~src/variables";

article {
    border-top: 1px solid $lightGrey;
    padding: .5rem 0;

    a {
        font-weight: bold;
        color: $orange;
    }

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        list-style: none;
        li {
            margin-left: .2rem;
            background-color: $blue5;
            padding: .1rem .5rem;
            color: #fff;
            font-size: 0.8rem;
        }
    }
}