$curlyFill: #fff;
$insideFill: #fff;
$animDuration: 8s;
.spinner {
  text-align: center;
  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
  }
  svg {
    position: relative;
    top: 30vh;
    z-index: 101;
    width: 100px;
    height: auto;

    transform-origin: center;
    animation: pulsate 1s ease-in-out alternate infinite;
    @keyframes pulsate {
      from {
        transform: scale(1) rotate(-5deg);
        opacity: 1;
      }
      to {
        transform: scale(0.9) rotate(5deg);
        opacity: 0.7;
      }
    }

    &#p-spinner #spinner-layer {
      #cogs-group path {
        fill: $insideFill;
      }
      #logo-p path {
        fill: $insideFill;
      }
      path.curly-braces {
        fill: $curlyFill;
      }

      #cogs-group {
        #cog1 {
          transform-origin: 63.5% 19.2%;
          animation: rotateCog 1.5s infinite linear;
        }
        #cog2 {
          transform-origin: 39.1% 46.2%;
          animation: rotateCog 2s infinite linear reverse;
        }
        #cog3 {
          transform-origin: 63.5% 76.45%;
          animation: rotateCog 1.75s infinite linear;
        }
        @keyframes rotateCog {
          from {
            transform: rotate(0);
          }
          to {
            transform: rotate(360deg);
          }
        }

        transform-origin: center;
        animation: cogs $animDuration linear infinite;
        @keyframes cogs {
          0% {
            transform: scaleX(1);
          }
          45% {
            transform: scaleX(1);
          }
          48% {
            transform: scaleX(0);
          }
          72% {
            transform: scaleX(0);
          }
          75% {
            transform: scaleX(1);
          }
          100% {
            transform: scaleX(1);
          }
        }
      }

      #logo-p {
        transform-origin: center;
        animation: logoP $animDuration linear infinite;
        @keyframes logoP {
          0% {
            transform: scaleX(0);
          }
          48% {
            transform: scaleX(0);
          }
          50% {
            transform: scaleX(1);
          }
          70% {
            transform: scaleX(1);
          }
          72% {
            transform: scaleX(0);
          }
          100% {
            transform: scaleX(0);
          }
        }
      }

      .curly-braces {
        &#curly-left {
          animation: curlyLeft $animDuration linear infinite;
          @keyframes curlyLeft {
            0% {
              transform: translateX(0);
            }
            45% {
              transform: translateX(0);
            }
            48% {
              transform: translateX(28%);
            }
            50% {
              transform: translateX(10%);
            }
            70% {
              transform: translateX(10%);
            }
            72% {
              transform: translateX(28%);
            }
            75% {
              transform: translateX(0);
            }
            100% {
              transform: translateX(0);
            }
          }
        }
        &#curly-right {
          animation: curlyRight $animDuration linear infinite;
          @keyframes curlyRight {
            0% {
              transform: translateX(0);
            }
            45% {
              transform: translateX(0);
            }
            48% {
              transform: translateX(-28%);
            }
            50% {
              transform: translateX(-10%);
            }
            70% {
              transform: translateX(-10%);
            }
            72% {
              transform: translateX(-28%);
            }
            75% {
              transform: translateX(0);
            }
            100% {
              transform: translateX(0);
            }
          }
        }
      }
    }
  }
}
